[submodule "vendors/cpp-httplib"]
	path = vendors/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
[submodule "vendors/json"]
	path = vendors/json
	url = git@github.com:nlohmann/json.git
[submodule "vendors/raylib-cpp"]
	path = vendors/raylib-cpp
	url = git@github.com:RobLoach/raylib-cpp.git
[submodule "vendors/raylib"]
	path = vendors/raylib
	url = git@github.com:raysan5/raylib.git
